<h1>{{ 공항 삽입 }}</h1>

<form name="Airport" method="post" action='/'>
    <div>
        <label for="Airport_code">Airport_code</label>
        <input id="Airport_code" name="Airport_code" type="text" placeholder="Airport code">
    </div>
    <div>
        <label for="Name">Name</label>
        <input id="Name" name="Name" type="text" placeholder="Name">
    </div>
    <div>
        <label for="City">City</label>
        <input id="City" name="City" type="text" placeholder="City">
    </div>
    <div>
        <label for="State">State</label>
        <input id="State" name="State" type="text" placeholder="State">
    </div>
</form>

